
.activity-box
{
    spacing: 2pt;
}

.activity-icon
{
    padding: 1pt;
    icon-size: 16pt;
    width: 18pt;
    color: #ccc;
}

.activity-icon:hover
{
    padding: 0 1pt;
    icon-size: 18pt;
    color: white;
}
